extends layout

block scripts-vendor
    script(src='/scripts/vendor/jquery-min.js')
    script(src='/scripts/vendor/underscore-min.js')
    script(src='/scripts/vendor/backbone-min.js')
    script(src='/scripts/vendor/spin-min.js')
    script(src='/scripts/shared/md5.js')
    script(src='/scripts/shared/sha1.js')
    script(src='/scripts/shared/consts.js')
    script(type="text/javascript",src="https://apis.google.com/js/plusone.js")
    script(type="text/javascript",src="https://www.google.com/jsapi")


block scripts-site
    script(src='/scripts/ha_tracker/routes.js')
    script(src='/scripts/ha_tracker/models.js')
    script(src='/scripts/ha_tracker/views.js')
    script(src='/scripts/ha_tracker.js')

block templates
    script(type="text/template",id="error-template")
        h2 Some error have ocurred =/
        div.error
            b Error:
                <%= error %>
        div.dismiss
            a.link reload page

    script(type="text/template",id="forgot-password-template")
        h3 Reset Your Password
        div.forgot-info Inform the e-mail address you used to register to receive an e-mail with instructions to reset your password.
        input#forgot-password-email.login-field(type="text",placeholder="e-mail")
        div.forgot-error
        div.forgot-msg
        button#forgot-send.button-01.login-button(title="Send") Send e-mail
        button#forgot-cancel.button-02.login-button(title="Cancel") Cancel
        button#forgot-ok.button-01.login-button.hidden(title="OK") OK


    script(type="text/template",id="login-template")
        div.login-site
            div.login-left
                div
                    input#login-username.login-field(type="text",placeholder="Username")
                    input#login-password.login-field(type="password",placeholder="Password")
                div
                    input#keep-logged(type="checkbox")
                    label.login-text Keep me logged in
                    a#forgot-password.login-text.link Forgot your password?
                div.login-error
            div.login-right
                button#login-ok.button-01.login-button(title="Login") Login
                a#login-create.link Signup
        div.login-fb
            div
                a.fb_button.fb_button_medium
                    span.fb_button_text Login
            span with facebook
        div.separator-login

    script(type="text/template",id="signup-template")
        div.signup-site
            div.login-left
                div.label Username:
                input#signup-username.login-field(type="text",placeholder="Username",maxlength="20")
                button#username-error-icon.signup-error.button-02.hidden !
                    span#username-error.tooltip-error
                div.label Password:
                input#signup-password.login-field(type="password",placeholder="Password")
                button#password-error-icon.signup-error.button-02.hidden !
                    span#password-error.tooltip-error
                div.label Verify:
                input#signup-repeat-password.login-field(type="password",placeholder="Verify Password")
                button#repeat-password-error-icon.signup-error.button-02.hidden !
                    span#repeat-password-error.tooltip-error
                div.label E-mail:
                input#signup-email.login-field(type="text",placeholder="E-mail",maxlength="100")
                button#email-error-icon.signup-error.button-02.hidden !
                    span#email-error.tooltip-error
                div.text Provide a valid e-mail address. E-mail is only used to recover a lost password. No spams!
                div.signup-error
                div.signup-msg
            div.login-right
                button#signup-ok.button-01.login-button(title="Signup") Signup
                button#signup-cancel.button-02.login-button(title="Cancel") Cancel
                div.terms_privacy
                    a.link(href="/terms_privacy") Terms & Privacy
        div.separator-signup
            span or
        div.signup-fb
            div
                a.fb_button.fb_button_medium
                    span.fb_button_text Signup with Facebook

    script(type="text/template",id="logged-player-template")
        div.user_panel
            <% if(data.avatar) print('<img class=\"avatar\" src=\"' + data.avatar + '\"/>'); %>
            div.user_info
                div <%= data.username %>
                a.link.settings settings
                a.link.logout logout
        div.settings
            div.separator
            div.change-password
                input#change-password-current.change-field(type="text",placeholder="Current Password")
                input#change-password-new.change-field(type="password",placeholder="New Password")
                input#change-password-repeat.change-field(type="password",placeholder="Repeat Password")
                div.reset-error.hidden
                div.reset-msg.hidden
                button.button-01.change-password(title="Change Password") Change Password
                div.separator
            button.button-02.reset-account(title="Reset Account") Reset Account
            div.confirm-reset.hidden
                div Are you sure?
                a.reset-yes.link(href="#") Yes
                a.reset-no.link(href="#") No
            button.button-02.delete-account(title="Delete Account") Delete Account
            div.confirm-delete.hidden
                div Are you sure?
                a.delete-yes.link(href="#") Yes
                a.delete-no.link(href="#") No
            div.separator
            a.link.settings close

    script(type="text/template",id="enemy-template")
        div.enemy
            div.enemyHeader
                div.enemyName <%= name %>
                input.newEnemyName.hidden(type="text", maxlength="20")
                button.deleteEnemy.button-02(title="Delete Enemy") X
                button.add-game.button-01(title="Add Game") +
                div.enemyExists.hidden Enemy already exists!
            ul.games
        div.enemyDeleteMask.hidden
        div.enemyDeleteText.hidden
            span Are you sure?
            a.delete-enemy-yes Yes
            a.delete-enemy-no No

    script(type="text/template",id="selected-enemy-template")
        div.enemyStatsName

        div.enemyStats
            div.statsTotal
                span.statsLabel Total:
                span.statsValue
            div.statsInProgress
                span.statsLabel In Progress:
                span.statsValue
            div.statsWins
                span.statsLabel Wins:
                span.statsValue
            div.statsLosses
                span.statsLabel Losses:
                span.statsValue

        div.enemyGraphs
            div#winsGraph
            div#lossesGraph
            div#councilChart
                img.chartImage(src="/images/council.png")
                div#councilTable
                div#councilTable2
            div#darkelvesChart
                img.chartImage(src="/images/darkelves.png")
                div#darkelvesTable
                div#darkelvesTable2
            div#dwarvesChart
                img.chartImage(src="/images/dwarves.png")
                div#dwarvesTable
                div#dwarvesTable2
            div#tribeChart
                img.chartImage(src="/images/tribe.png")
                div#tribeTable
                div#tribeTable2


    script(type="text/template", id="enemies-template")
        h2 Enemies
        button#add-enemy Add Enemy
        a.link.statistics Show statistics
        input#filter(type="text",placeholder="Filter Enemies")
        input#showActive(type="checkbox")
        span.showActiveText Show only active
        input#showState(type="checkbox")
        span.showStateText Show state
        div.hidden-enemies-warning.hidden Some enemies and games are hidden!
        ul.enemies
        div.enemy-tip TIP: double click an enemy name to rename it

    script(type="text/template",id="statistics-template")
        div.enemyStatsName

        div.enemyStats
            div.statsTotal
                span.statsLabel Total:
                span.statsValue
            div.statsInProgress
                span.statsLabel In Progress:
                span.statsValue
            div.statsWins
                span.statsLabel Wins:
                span.statsValue
            div.statsLosses
                span.statsLabel Losses:
                span.statsValue

        div.enemyGraphs
            div#enemiesTable
            div#winsGraph
            div#lossesGraph
            div#councilChart
                img.chartImage(src="/images/council.png")
                div#councilTable
                div#councilTable2
            div#darkelvesChart
                img.chartImage(src="/images/darkelves.png")
                div#darkelvesTable
                div#darkelvesTable2
            div#dwarvesChart
                img.chartImage(src="/images/dwarves.png")
                div#dwarvesTable
                div#dwarvesTable2
            div#tribeChart
                img.chartImage(src="/images/tribe.png")
                div#tribeTable
                div#tribeTable2


    script(type="text/template",id="add-enemy-template")
        input#add-enemy-name(type="text",placeholder="Enemy Name", maxlength="20")
        button.cancel-add-enemy.button-02(title="Cancel") X
        button.confirm-add-enemy.button-01(title="Confirm") &#x2713;
        div.enemyExists.hidden Enemy already exists!


    script(type="text/template",id="add-game-template")
        div.add-game-label Player:
        select.add-game-player-race
            option(value="Council") Council
            option(value="Dark Elves") Dark Elves
            option(value="Dwarves") Dwarves
            option(value="Tribe") Tribe
        br
        div.add-game-label Enemy:
        select.add-game-enemy-race
            option(value="Council") Council
            option(value="Dark Elves") Dark Elves
            option(value="Dwarves") Dwarves
            option(value="Tribe") Tribe
        button.cancel-add-game.button-02(title="Cancel") X
        button.confirm-add-game.button-01(title="Confirm") &#x2713;

    script(type="text/template",id="game-template")
        //<%= num %>  - <%= playerRace %> vs <%= enemyRace %>
        div.game
            div.gameNum <%= num %>
            button.deleteGame.button-02(title="Delete Game") -
            div.gamePanel
                div
                    <% print('<img class=\"raceIcon\" src=\"' + playerRaceIcon + '\"/>'); %>
                    span vs
                    <% print('<img class=\"raceIcon\" src=\"' + enemyRaceIcon + '\"/>'); %>
        div.gameDeleteMask.hidden
        div.gameDeleteText.hidden
            span Are you sure?
            a.delete-game-yes Yes
            a.delete-game-no No


    script(type="text/template",id="selected-game-template")
        <% if(data) { %>
        div.game-info
            //div.game-info-text Game state:
            div.state-box.in_progress
                input#state_in_progress(type="radio",name="game-status")
                span In Progress
            div.state-box.won
                input#state_won(type="radio",name="game-status")
                span Won
                select#state_select_won
                    option(value="Won - Crystal") Destroyed Crystal
                    option(value="Won - Heroes") Killed Heroes
                    option(value="Won - Surrender") Surrendered
                    option(value="Won - Timeout") Stopped playing
            div.state-box.lost
                input#state_lost(type="radio",name="game-status")
                span Lost
                select#state_select_lost
                    option(value="Lost - Crystal") Destroyed Crystal
                    option(value="Lost - Heroes") Killed Heroes
                    option(value="Lost - Surrender") Surrendered
                    option(value="Lost - Timeout") Stopped playing
        <% } %>
        div.items-panel
            div.player-items-mask.hidden
                div.read-only-items Read-Only
            div.enemy-items-mask.hidden
                div.read-only-items Read-Only

    script(type="text/template", id="player-items-template")
        <% print('<img class=\"raceTitle\" src=\"' + playerRaceTitle + '\"/>'); %>
        ul.items
        h3 Remaining:

    script(type="text/template", id="enemy-items-template")
        <% print('<img class=\"raceTitle\" src=\"' + enemyRaceTitle + '\"/>'); %>
        ul.items
        h3 Remaining:

    script(type="text/template", id="item-template")
        | <img class="itemImg" src="<%= itemImg %>"/>
        div.click-to-reset Click to reset
        span.itemName <%= itemName %>
        span.itemCount <%= itemCount %>
        button.itemSub.button-02 -
        button.itemAdd.button-01 +


block header
    div#login.login-window
    div#logged-player.logged-window.dismissed

block main-layout
    div#player
        div.example
            h4.example-info Manage your games and keep track of wins, losses and games in progress
            img.enemies-example(src='/images/enemies.png')
    div#current-game
        div.example
            h4.example-info
                div.
                    Manage items and heroes you and your enemy have left in a game
                div.
                    <a id='example-signup' class='link'>Signup</a> or login and start using HA Tracker right now!
            img.game-example(src='/images/game.png')

block main-page
    div#signup-blanket.hidden
    div#error-blanket.hidden
    div#signup.hidden
    div#error.hidden
    div#forgot-password-panel.hidden





