extends layout



block content
    div#main
        div#main-container
            div#header
                h1 Hero Academy Item Tracker
                div#login.login-window
                div#logged-player.logged-window.dismissed
            div#main-layout
                div#player
                    h2 Create Account or Login
                div#current-game
            div#blanket.hidden
    div#signup.hidden



