extends layout



block content
    div#main
        div#main-container
            div#header
                h1 Hero Academy Tracker
                div#login.login-window
                div#logged-player.logged-window.dismissed
                div.social
                    div.g-plusone(data-size="medium")
                    div.fb-like(data-send="false",data-layout="button_count",data-width="450",data-show-faces="true")
            div#main-layout
                div#player
                    h2 Create Account or Login
                div#current-game
                div.st
                    span.st_pinterest(displayText='Pinterest')
                    span.st_googleplus(displayText='Google +')
                    span.st_delicious(displayText='Delicious')
                    span.st_sharethis(displayText='ShareThis')
                    span.st_facebook(displayText='Facebook')
                    span.st_twitter(displayText='Tweet')
                    span.st_linkedin(displayText='LinkedIn')
                    span.st_email(displayText='Email')
                    span.st_digg(displayText='Digg')
            div#blanket.hidden
    div#signup.hidden



