extends layout



block content
    div#main
        div#main-container
            div#header
                h1 Hero Academy Tracker
                div#login.login-window
                div#logged-player.logged-window.dismissed
                div.social
                    g:plusone
                    div.fb-like(data-send="false",data-layout="button_count",data-width="450",data-show-faces="true")
            div#main-layout
                div#player
                    h2 Create Account or Login
                div#current-game
            div#blanket.hidden
    div#signup.hidden



