!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/table.css')
    script(src='/javascripts/vendor/jquery.js')
    script(src='/javascripts/vendor/underscore.js')
    script(src='/javascripts/vendor/backbone.js')
    script(src='/javascripts/vendor/spin.js')

    script(src='/javascripts/ha_tracker/models.js')
    script(src='/javascripts/ha_tracker/collections.js')
    script(src='/javascripts/ha_tracker/views.js')
    script(src='/javascripts/ha_tracker/routes.js')
    script(src='/javascripts/ha_tracker.js')


    <!-- Images -->
    script(language="JavaScript")
        <!--
            if (document.images)

            preload_image_object = new Image();
            // set image url
            image_url = new Array();
            image_url[0] = "/images/items/knight.png";
            image_url[1] = "/images/items/archer.png";
            image_url[2] = "/images/items/cleric.png";
            image_url[3] = "/images/items/wizard.png";
            image_url[4] = "/images/items/ninja.png";
            image_url[5] = "/images/items/inferno.png";
            image_url[6] = "/images/items/runemetal.png";
            image_url[7] = "/images/items/dragonscale.png";
            image_url[8] = "/images/items/shininghelm.png";
            image_url[9] = "/images/items/revivepotion.png";
            image_url[10] = "/images/items/spercharge.png";


            var i = 0;
            for(i=0; i<=10; i++)
                preload_image_object.src = image_url[i];


        //-->
    </SCRIPT>

    <!-- Templates -->

    script(type="text/template",id="enemy-template")
        div
            span.enemyName <%= name %>
            button.deleteEnemy.button-02(title="Delete Enemy") X
            button.add-game.button-01(title="Add Game") +
        ul.games

    script(type="text/template", id="enemies-template")
        h2 Enemies
        button#add-enemy Add Enemy
        h2 SEARCH!
        ul.enemies

    script(type="text/template",id="add-enemy-template")
        input#add-enemy-name(type="text",placeholder="Enemy Name")
        button.cancel-add-enemy.button-02(title="Cancel") X
        button.confirm-add-enemy.button-01(title="Confirm") L


    script(type="text/template",id="add-game-template")
        div Player:
        select.add-game-player-race
            option(value="Council") Council
            option(value="Dark Elves") Dark Elves
            option(value="Dwarves") Dwarves
            option(value="Tribe") Tribe
        br
        div Enemy:
        select.add-game-enemy-race
            option(value="Council") Council
            option(value="Dark Elves") Dark Elves
            option(value="Dwarves") Dwarves
            option(value="Tribe") Tribe
        button.cancel-add-game.button-02(title="Cancel") X
        button.confirm-add-game.button-01(title="Confirm") L

    script(type="text/template",id="game-template")
        //<%= num %>  - <%= playerRace %> vs <%= enemyRace %>
        div.gameNum <%= num %>
        div.gamePanel
            <% print('<img class=\"raceIcon\" src=\"' + playerRaceIcon + '\"/>'); %>
            span vs
            <% print('<img class=\"raceIcon\" src=\"' + enemyRaceIcon + '\"/>'); %>
        button.deleteGame.button-02(title="Delete Game") -


    script(type="text/template",id="selected-game-template")
        h2 Selected Game
        <% if(name) print("<h3>" + name + "</h3>"); %>

    script(type="text/template", id="player-items-template")
        <% print('<img class=\"raceTitle\" src=\"' + playerRaceTitle + '\"/>'); %>
        ul.items
        h3 Remaining:

    script(type="text/template", id="enemy-items-template")
        <% print('<img class=\"raceTitle\" src=\"' + enemyRaceTitle + '\"/>'); %>
        ul.items
        h3 Remaining:

    script(type="text/template", id="item-template")
        <% print('<img class=\"itemImg\" src=\"' + itemImg + '\"/>'); %>
        span.itemName <%= itemName %>
        span.itemCount <%= itemCount %>
        button.itemSub.button-02 -
        button.itemAdd.button-01 +


  body
    block content