extends layout

block scripts-vendor
    script(src='/scripts/vendor/jquery-min.js')
    script(src='/scripts/vendor/underscore-min.js')
    script(src='/scripts/vendor/backbone-min.js')
    script(src='/scripts/vendor/spin-min.js')
    script(src='/scripts/vendor/md5.js')
    script(src='/scripts/vendor/sha1.js')

block scripts-site
    script(src='/scripts/ha_tracker/models.js')
    script(type="text/javascript").
        app = window.app ? window.app : {};

        function getURLParameter(name) {
            return decodeURI(
                (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,null])[1]
            );
        }

        function keyPress(evt){
            if(evt.keyCode == 13){
                reset_password();
            }else{
                $('div.reset-error').addClass('hidden');
            }

        };

        function reset_password(){
            if(!$('#reset-password').val()){
                $('div.reset-error').html('Password cannot be empty!');
                $('div.reset-error').removeClass('hidden');

                return;
            }

            if($('#reset-password').val() != $('#reset-repeat-password').val()){
                $('div.reset-error').html('Passwords must match!');
                $('div.reset-error').removeClass('hidden');

                return;
            }

            new app.Login().reset_password($('#reset-password').val(),getURLParameter('confirmation'),function(err){

                if(err){
                    $('div.reset-error').html(err);
                    $('div.reset-error').removeClass('hidden');
                    this.$('#reset-ok').attr('disabled', 'disabled');
                }else{
                    this.$('#reset-ok').attr('disabled', 'disabled');
                    this.$('#reset-cancel').attr('disabled', 'disabled');
                    $('div.reset-msg').html('Password updated with success! Redirecting to main page...');
                    $('div.reset-msg').removeClass('hidden');

                    setTimeout(function(){
                        window.location = "/";
                    },5000);



                }

            });


        };

        function cancel_reset(){
            window.location = "/";
        };



block main-layout
    div.reset_layout
        h2 Reset Password
        input#reset-password.login-field(type="password",placeholder="New Password", onKeyup="keyPress(event)")
        input#reset-repeat-password.login-field(type="password",placeholder="Verify Password", onKeyup="keyPress(event)")
        div.reset-error
        div.reset-msg
        button#reset-ok.button-01.login-button(title="Reset", onClick="reset_password();") Reset
        button#reset-cancel.button-02.login-button(title="Cancel", onClick="cancel_reset();") Cancel
