extends layout

block main-layout
    div.tp_change Last Update: 6 June 2012
    div.tp_privacy
        h2 - Privacy -
        h3 Personal Information
        div HA Tracker will <b>NOT</b> sell, trade, or give away any personal information to any third party.
        div We reserve the right to give away anonymous or aggregate information.
        h3 E-mail policy
        div HA Tracker will <b>NOT</b> send you mass e-mail.
        div The only e-mail you'll ever receive is the reset password that we send when you want to recover a lost password.
    div.tp_terms
        h2 - Terms and Conditions -
        div We only have two conditions that, by using this site, you must agree:
        ul
            li We will delete empty accounts (with no enemies and games) after three months.
            li Have fun playing Hero Academy and tracking your games here ;)

    div.tp_back
        a.link(href="/") back

