!!! 5
html
  head
    link(rel='stylesheet', href='/stylesheets/teste.css')


  body
    div#main
        div#main-container
            div#header
                h1 Hero Academy Tracker

            div#main-layout
                div#player
                    //img.enemies-example(src='/images/council_icon.png')
                div#current-game
                    div#coisa
            div#footer
