@import '../common'

//************************
//**** LOGGIN & SIGNUP ***
//************************


.login-left
    width: 250px
    float: left

.login-right
    width: 50px
    float: right
    margin-right: 10px

input.required
    background-color: #fff4f4

div.signup-error, div.login-error
    color: red
    font: 10px "Lucida Grande", Helvetica, Arial, sans-serif
    text-align: center

div.signup-msg
    color: green
    font: 10px "Lucida Grande", Helvetica, Arial, sans-serif
    text-align: center


//************************
//******** LOGIN *********
//************************



#login
    color: black
    background-color: white
    padding: 5px 10px 5px 10px
    position: relative
    border-radius(10px)
    transition all 1s ease-in-out
    overflow: visible
    width: 400px
    min-height: 45px
    margin-top: -60px
    margin-bottom: 10px
    float: right

.separator-login
    position: relative
    border-left: 1px dotted grey
    height: 40px
    width: 1px
    float: right
    margin-right: 10px

#login-username
    margin-right: 20px

#login-username, #login-password
    width: 40%

#login-ok
    margin-left: 5px
    margin-bottom: 3px
    width: 50px
    height:20px

#login-create
    position: relative
    margin-left: 12px
    font: 10px "Lucida Grande", Helvetica, Arial, sans-serif

.login-text
    font: 10px "Lucida Grande", Helvetica, Arial, sans-serif

#forgot-password
    margin-left: 20px

div.login-site
    float: left

div.login-fb
    float: right

div.fb-login-button
    margin-bottom: 3px

div.login-fb span
    font: 10px "Lucida Grande", Helvetica, Arial, sans-serif



//************************
//******** SIGNUP ********
//************************

div#signup-blanket, div#error-blanket
    background-color:#111
    opacity: 0.65
    position:fixed
    top:0px
    left:0px
    width:100%
    height: 100%
    z-index: 999

div#signup
    position: absolute
    top: 30%
    left: 35%
    width: 320px
    margin-left: auto
    margin-right: auto
    background-color: white
    padding: 10px 15px 10px 15px
    border-radius(10px)
    box-shadow 0px 2px 8px rgba(0,0,0,1)
    z-index: 1000

div.signup-site
    height: 110px

#signup-username,#signup-email, #signup-password, #signup-repeat-password
    width: 160px

#signup-ok
    margin-left: 10px
    width: 50px
    height: 25px

#signup-cancel
    margin-top: 8px
    margin-left: 10px
    width: 50px

.label
    float: left
    width: 50px
    font: 10px "Lucida Grande", Helvetica, Arial, sans-serif
    margin-top: 3px
    margin-right: 10px
    text-align: right

button.signup-error
    border-radius(6px)
    font: 10px "Lucida Grande", Helvetica, Arial, sans-serif
    margin-left: 5px
    position: relative

button.signup-error span
    display: none

button.signup-error:hover span
    display: block
    position: absolute
    left: 20px
    top: 0px
    z-index: 99
    margin-left: 0
    width: 60px
    background: #FFCCAA
    border: 1px solid #FF3334
    border-radius(5px)
    box-shadow(5px 5px 5px rgba(0, 0, 0, 0.1))
    padding: 2px

.separator-signup
    margin: 10px 0 15px 0
    height: 1px
    border-top: 1px dotted grey
    text-align: center
    position: relative

.separator-signup span
    padding: 0px 5px
    position: relative
    top: -.7em
    background: white
    display: inline-block

div.signup-fb
    margin-left: auto
    margin-right: auto
    width: 50%

//************************
//******** ERROR *********
//************************

div#error
    position: absolute
    top: 30%
    left: 35%
    width: 320px
    margin-left: auto
    margin-right: auto
    background-color: white
    padding: 10px 15px 10px 15px
    border-radius(10px)
    box-shadow 0px 2px 8px rgba(0,0,0,1)
    z-index: 1000

div#error h2
    text-align: center
    color: red

div#error .error
   text-align: center

div#error .dismiss
    width: 100%
    margin-top: 20px
    text-align: right


//************************
//***** LOGGED PLAYER ****
//************************


#logged-player
    color: black
    background-color: white
    padding: 22px 10px 5px 10px
    position: absolute
    top: -20px
    right: 80px
    min-width: 40px
    max-height: 25px
    min-height: 25px
    border-radius(10px)
    transition all 1s ease-in-out
    overflow-x: visible
    overflow-y: hidden
    display: inline-block
    box-shadow 0px 2px 8px rgba(0,0,0,1)
    font: 12px "Lucida Grande", Helvetica, Arial, sans-serif
    z-index: 99

#logged-player.with_settings
    //overflow-y: visible
    max-height: 1000px

#logged-player.dismissed
   top: -70px

a.logout,a.settings
    font: 10px "Lucida Grande", Helvetica, Arial, sans-serif
    width: 0%
    width: 40%
    margin-right: auto
    margin-left: auto
    padding-left: 3px
    padding-right: 3px

a.settings
    float: left

a.logout
    float: right

div.user_panel
    height: 25px

#logged-player div.user_info
    float: left

.reset-account, .delete-account, .change-field, .change-password
    display: block
    width: 100%
    margin-bottom: 10px

div.confirm-delete, div.confirm-reset
    width: 100%
    font: 10px "Lucida Grande", Helvetica, Arial, sans-serif
    margin-bottom: 10px

div.confirm-delete div, div.confirm-reset div
    color: red
    text-align: center

a.delete-no, a.delete-yes, a.reset-no, a.reset-yes
    display: inline-block
    width: 50%
    text-align: center
    margin-top: 5px

img.avatar
    width: 25px
    height: 25px
    float: right
    margin-right: 5px
    margin-top: 2px

//************************
//******** SOCIAL ********
//************************

div.social
    display: inline

div.like
    display: inline

div.share
    display: inline

div.g-plusone
    display: inline

div.fb-like
    display: inline

div.terms
    display: inline
    float: right

div.tech
    display: block
    margin-top: 10px

div.tech// a, div.tech span
    margin-left: 10px

div.github, div.ref
    margin-top: 10px




