@import '../common'

.items li
    position: relative
    display: inline
    list-style: none
    width: 70px
    height: 90px
    float: left
    margin: 0 10px 10px 0

.itemImg
    width: 100px
    height: 100px
    vertical-align: -5px

.click-to-reset
    line-height: 10px
    position: absolute
    cursor: pointer
    top: 55px
    left: 17px
    width: 70px
    color: white
    font-weight:bold
    text-align: center
    font: 10px "Lucida Grande", Helvetica, Arial, sans-serif
    //opacity: 0.9
    -moz-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
    box-shadow:inset 0px 1px 0px 0px #f7c5c0;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d) );
    background:-moz-linear-gradient( center top, #fc8d83 5%, #e4685d 100% );
    //filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d');
    background-color:#fc8d83;
    border:1px solid #e85959
    text-shadow:1px 1px 0px #b23e35;
    display: none

.items li.item.zero:hover .click-to-reset
    display: block

.items li:hover .itemImg
    width: 110px
    height: 110px

.items li:hover .itemCount
   top: -25px
   left: 23px

.itemCount
    transition background-color 1s ease-in-out
    position: relative
    top: -25px
    left: 17px
    float: right
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
    width: 20px
    height: 20px
    color: white
    text-align: center
    line-height: 20px
    background-color: #fc8d83
    border: 2px solid white
    border-radius(25px)
    -moz-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
    box-shadow:inset 0px 1px 0px 0px #f7c5c0;
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,1);
    box-shadow: 0px 1px 4px rgba(0,0,0,1);
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d) );
    background:-moz-linear-gradient( center top, #fc8d83 5%, #e4685d 100% );
    text-shadow:1px 1px 0px #666666

.item.zero .itemCount
    box-shadow:inset 0px 1px 0px 0px #ffffff
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) )
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% )
    //filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf')
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,1);
    box-shadow: 0px 1px 4px rgba(0,0,0,1);
    background-color:#ededed
    border:2px solid #dcdcdc
    color:#777777
    text-shadow:1px 1px 0px #ffffff

.itemName
    display: none

.itemSub
    display: none

.itemAdd
    display: none