// ********* MIXINS *********
border-radius(n)
    -webkit-border-radius n
    -moz-border-radius n
    border-radius n

transform(args...)
    -webkit-transform args
    -moz-transform args
    -o-transform args
    -ms-transform args

transition(args...)
    -webkit-transition args
    -moz-transition args
    -o-transition args
    -ms-transition args

box-shadow(args...)
    -moz-box-shadow args
    -webkit-box-shadow args
    box-shadow args