@import 'common'

//************************
//**** LOGIN & SIGNUP ****
//************************

.login-left
    width: 260px
    float: left

.login-right
    width: 60px
    float: right

#login
    color: black
    background-color: white
    padding: 25px 10px 5px 10px
    position: absolute
    top: -20px
    left: 850px
    width: 50px
    border-radius(10px)
    transition all 1s ease-in-out
    overflow: hidden
    display: inline
    box-shadow 0px 2px 8px rgba(0,0,0,1)

#login.dismissed:hover
    top: -300px

#login.dismissed
    top: -70px
    height: 25px

.login-window, .signup-window
    height: 25px

#inner-login
    width: 320px
    position: relative
    left: -270px
    transition all 1s ease-in-out

input.required
    background-color: #fff4f4

div.signup-error, div.login-error
    color: red
    font: 10px "Lucida Grande", Helvetica, Arial, sans-serif
    text-align: center

div.signup-msg, div.login-msg
    color: green
    font: 10px "Lucida Grande", Helvetica, Arial, sans-serif
    text-align: center


.separator
    margin: 5px 0 15px 0
    height: 1px
    border-top: 1px dotted grey
    text-align: center
    position: relative

.separator span
    padding: 0px 5px
    position: relative
    top: -.7em
    background: white
    display: inline-block


//************************
//******** LOGIN *********
//************************


#login:hover
    padding: 20px 10px 0 10px
    position: absolute
    top: -10px
    left: 570px
    width: 320px

#login-login
    height: 80px

.login-window:hover
    height: 130px

.login-field
    //border-radius(3px)

.login-button
    //border-radius(6px)

#login:hover #inner-login
    left: 0

#login-username, #login-password
    width: 90%

#login-ok
    margin-left: 10px
    width: 50px
    height:25px

#login-create
    margin-top: 5px
    margin-right: 10px
    float:right
    font: 10px "Lucida Grande", Helvetica, Arial, sans-serif

.login-text
    font: 10px "Lucida Grande", Helvetica, Arial, sans-serif

#forgot-password
    margin-left: 20px


//************************
//******** SIGNUP ********
//************************


.signup-window:hover
    height: 160px

#login-signup
    height: 110px

#signup-username,#signup-email, #signup-password, #signup-repeat-password
    width: 160px

#signup-ok
    margin-left: 10px
    width: 50px
    height: 25px

#signup-cancel
    margin-top: 8px
    margin-left: 10px
    width: 50px

.label
    float: left
    width: 50px
    font: 10px "Lucida Grande", Helvetica, Arial, sans-serif
    margin-top: 3px
    margin-right: 10px
    text-align: right

button.signup-error
    border-radius(6px)
    font: 10px "Lucida Grande", Helvetica, Arial, sans-serif
    margin-left: 5px
    position: relative

button.signup-error span
    display: none

button.signup-error:hover span
    display: block
    position: absolute
    left: 20px
    top: 0px
    z-index: 99
    margin-left: 0
    width: 60px
    background: #FFCCAA
    border: 1px solid #FF3334
    border-radius(5px)
    box-shadow(5px 5px 5px rgba(0, 0, 0, 0.1))
    padding: 2px

//************************
//***** LOGGED PLAYER ****
//************************


#logged-player
    color: black
    background-color: white
    padding: 22px 10px 5px 10px
    position: absolute
    top: -20px
    left: 950px
    min-width: 40px
    height: 25px
    border-radius(10px)
    transition all 1s ease-in-out
    overflow: visible
    display: inline
    box-shadow 0px 2px 8px rgba(0,0,0,1)
    font: 12px "Lucida Grande", Helvetica, Arial, sans-serif

#logged-player.dismissed
   top: -70px

a.logout
   font: 10px "Lucida Grande", Helvetica, Arial, sans-serif
   width: 0%
   border-left: auto
   border-right: auto

#logged-player .user_info
    float: right

img.avatar
    width: 25px
    height: 25px
    float: left
    margin-right: 5px

//************************
//******* FACEBOOK *******
//************************

.fb-login-button
    margin-left:auto
    margin-right:auto
    width: 50%