module.exports = {
    session: 'very secure session secret',
    mail_username: 'username to send mails',
    mail_password: 'password to send mails',
    test_user_id: 'test user ID',
    test_player_id: 'test player ID'
};