module.exports = {
    session: 'very secure session secret',
    mail_username: 'username to send mails',
    mail_password: 'password to send mails',
    statsmix_key: 'statsmix keu',
    test_user_id: 'test user ID'
};